body{
    padding: 0;
    margin: 0;
}
.content{
    display: flex;
    min-height: 100vh;
}
.image-section{
    display: flex;
    background-image: url(images/halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;
    flex-direction: column;
    flex: 3;
    justify-content: space-between;
    background-position: center center;
    max-width: 400px;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    margin-top: 20vh;
    padding: 16px 0;
    background-color: rgba(0, 0, 0, 0.4);
}
img{
    height: 125px;
}
button{
    background-color: #596D48;
    color: white;
}
input{
    border-color: #E5E7EB;
    height: 25px;
}
p{
    font-weight: bold;
}
label{
    text-transform: uppercase;
}
.text-section{
    margin: 50px;
}
form{
    margin-top: 50px;
    margin-bottom: 25px;
}
.inputs{
    display: grid;
    gap: 30px;
    grid-template-columns: auto auto;
}
.labels{
    display: flex;
    flex-direction: column;
}
form p, .dummy-text{
    font-size: 20px;
}